<ul class="menu main-navigation">
    {% for nav in site.data.menu %}
    {% if nav.megamenu %}
        <li>
            <a href="{{ nav.href }}">{{ nav.title }}</a>
            <div class="megamenu">
                {% include {{nav.megamenu}} %}
            </div>
        </li>
    {% elsif nav.submenu %}
        <li>
            <a href="{{ nav.href }}">{{ nav.title }}</a>
            <ul>
            {% for subnav in nav.submenu %}
                <li><a href="{{ subnav.href }}">{{ subnav.title }}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% elsif page.url contains nav.href %}
        <li class="active"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
    {% else %}
        <li><a href="{{ nav.href }}">{{ nav.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
