---
title: Archives List
---

{% assign archive = site.data.widgets.archive %}

<section class="widget widget_archive">
    <h2 class="widget-title">Archives</h2>

    {% if archive.dropdown %}
        <label class="screen-reader-text">Archives</label>
        <select name="archive-dropdown">
        {% for item in archive.list %}
            {% assign _item = item | split: ',' %}
            <option value="">{{ _item[0] }}</a>{% if archive.count and _item[1] %}&nbsp;({{ _item[1] }}){% endif %}</option>
        {% endfor %}
        </select>
    {% else %}
        <ul>
        {% for item in archive.list %}
            {% assign _item = item | split: ',' %}
            <li><a href="#" title="">{{ _item[0] }}</a>{% if archive.count and _item[1] %}&nbsp;({{ _item[1] }}){% endif %}</li>
        {% endfor %}
        </ul>
    {% endif %}
</section>
