<ol class="breadcrumb">
    <li><a href="#">Home</a></li>

    {% if page.breadcrumb %}
        {% assign breadcrumbs = page.breadcrumb | split: '|' %}

        {% for breadcrumb in breadcrumbs %}
            {% if forloop.last %}
                <li class="active">{{ breadcrumb }}</li>
            {% else %}
                <li><a href="#">{{ breadcrumb }}</a></li>
            {% endif %}
        {% endfor %}

    {% else %}
        <li class="active">{{ page.title }}</li>
    {% endif %}
</ol>
