.fontawesome-collect {
  padding-left: 0;
  margin-bottom: 0;

  list-style: none;
  overflow: hidden;

  > li {
    float: left;

    width: 11.1111%;
    height: 115px;

    background-color: #f7f7f7;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;

    text-align: center;
    overflow: hidden;
    padding-top: 30px;
  }

  li:hover,
  li:focus {
    background-color: #333;

    span, i {
      color: #fff;
    }
  }

  .fa {
    font-size: 24px;
  }

  span {
    display: block;
    padding-top: 15px;

    font-size: 12px;
    color: #898989;
  }
}
